[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.3"
astroid = "==1.6.6"
beautifulsoup4 = "==4.8.1"
certifi = "==2019.9.11"
chardet = "==3.0.4"
click = "==7.0"
colorama = "==0.4.3"
django-tinymce = "==2.8.0"
gunicorn = "==20.0.4"
idna = "==2.8"
inflection = "==0.3.1"
isort = "==4.3.21"
itsdangerous = "==1.1.0"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
mysql-connector-python = "==8.0.19"
numpy = "==1.17.4"
pi = "==0.1.2"
pipenv = "==2018.11.26"
pylint = "==1.9.2"
pytz = "==2019.3"
requests = "==2.22.0"
six = "==1.14.0"
soupsieve = "==1.9.5"
sqlparse = "==0.3.0"
urllib3 = "==1.25.7"
virtualenv = "==16.7.8"
virtualenv-clone = "==0.5.3"
wrapt = "==1.11.2"
Django = "==3.0.2"
Flask = "==1.1.1"
Flask-SQLAlchemy = "==2.4.1"
Jinja2 = "==2.11.0"
MarkupSafe = "==1.1.1"
Pillow = "==7.0.0"
SQLAlchemy = "==1.3.13"
Werkzeug = "==0.16.1"

[requires]
python_version = "3.8"
